@{
    ViewData["Title"] = "Spencer Hilton's Favorite Books";
}

@model BooksViewModel

<h1 class="text-center">Spencer Hilton's Favorite Books</h1>

@foreach (Books b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}
<div page-blah="@Model.PageInfo" page-action="Index" page-class ="btn" 
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" 
     page-classes-enabled="true" class="btn-group "></div>



