@{
}

@model Order

<h2>Checkout Now</h2>
<!--Below I learned how to use the grid system which allowed City, State and Zip to be in the same row.-->
<form class="row g-3" method="post" asp-action="Checkout">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h2>Ship To</h2>

    <!--The below block of code is contains the lable in the input and then gets smaller
        and allows you to put your input. I used the class form-floating to do this-->
    <div class="form-floating">
        <input type="text" class="form-control" asp-for="Name" placeholder="John Doe" />
        <label asp-for="Name">Name</label>
    </div>

    <div class="col-12">
        <label asp-for="AddressLine1">Address Line 1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>

    <div class="col-12">
        <label asp-for="AddressLine2">Address Line 2:</label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>

    <!--Here is where I used the grid system to specify the widths of City, State and Zip to 
        fit in the same row-->

    <div class="col-md-6">
        <label asp-for="City" class="form-label">City</label>
        <input type="text" class="form-control" asp-for="City">
    </div>

    <div class="col-md-4">
        <label asp-for="State" class="form-label">State</label>
        <select asp-for="State" class="form-select">
            <option selected>UT</option>
            <option>AZ</option>
            <option>AR</option>
            <option>DC</option>
        </select>
    </div>

    <div class="col-md-2">
        <label asp-for="Zip" class="form-label">Zip</label>
        <input type="text" class="form-control" asp-for="Zip">
    </div>

    <div class="col-12">
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="float-end pt-2">
        <input class="btn btn-primary" type="submit" value="Confirm Order" />
    </div>
</form>