@page
@model OnlineBookstore.Pages.ConfirmationModel
@{
}

<div class="text-center p-lg-5">
    <h2>Thanks you for your order</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>